* {
    font: Roboto, Calibri;
}
.hero, footer {
    background-color: #1F2937;
}
.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}
header p {
    font-size: 24px;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
}
.random-info p {
    font: 900 36px #1f2937;
}
.quote {
    background-color: #e5e7eb;
}
.quote-text {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}